/* @font-face {
    font-family: 'mbl';
    src: url('../assets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mb';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'meb';
    src: url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mr';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mi';
    src: url('../assets/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
} */
/* 
@font-face {
  font-family: 'mi';
  src: url('../assets/fonts/RedHatDisplay-Italic.woff2') format('woff2'),
    url('../assets/fonts/RedHatDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'mr';
  src: url('../assets/fonts/RedHatDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mbl';
  src: url('../assets/fonts/RedHatDisplay-Black.woff2') format('woff2'),
    url('../assets/fonts/RedHatDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mb';
  src: url('../assets/fonts/RedHatDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/RedHatDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'mr';
  src: url('../assets/fonts/FVFFernando08.woff2') format('woff2'),
    url('../assets/fonts/FVFFernando08.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
