.header {
  height: var(--header-h);
  background-color: transparent;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-out;
}

.header.show .progress-bar {
  position: fixed;
  top: var(--header-h);
  left: 0;
  right: 0;
  z-index: 600;
  display: block;
  width: 0%;
  height: 3px;
  background: var(--white);
  transition: 0.3s ease-out;
}

.header.show {
  background-color: var(--black);
}

.header.show .header__right .header__right-menu .item .item__link {
  color: var(--white);
}

.header.show .header__left .logo img {
  filter: brightness(0) invert(1);
}

.header.show .header__right .header__right-menu .item .item__link::after {
  background: var(--white);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__left {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.header .header__left .logo {
  height: 60%;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.header .header__left .logo img {
  width: 100%;
  height: auto;
}

.header .header__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .header__right .header__right-menu {
  display: flex;
  list-style: none;
  margin-right: 32px;
}

.header .header__right .header__right-menu .item {
  position: relative;
}

.header .header__right .header__right-menu .item:not(:last-child) {
  margin-right: 32px;
}

.header .header__right .header__right-menu .item .item__link {
  text-decoration: none;
  font-size: var(--font-s);
  font-family: 'mr';
  color: var(--black);
}

.header .header__right .header__right-menu .item .item__link.active::after {
  transform: scaleX(1);
}

.header .header__right .header__right-menu .item:hover .item__link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .header__right .header__right-menu .item__link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.herosc {
  height: calc(100vh);
  /* The image used */
  background-image: url('../assets/images/herobg.gif');
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.herosc .herosc__group {
  position: absolute;
  bottom: 20vh;
}

.herosc .herosc__group .name {
  margin-bottom: 24px;
  max-width: 580px;
  line-height: 1.2;
  color: var(--black);
  -webkit-text-stroke: 1px rgb(65, 65, 65);
}

.herosc .herosc__group .para {
  max-width: 450px;
  margin-bottom: 30px;
  color: var(--black);
  -webkit-text-stroke: 1px rgb(65, 65, 65);
}

.play-btn {
  margin-right: 8px;
}

.storiessc {
  padding: 72px 0;
  background: #333;
}

.inside {
  max-width: 100%;
}

.inside img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.storiessc .container {
  display: grid;
  padding: 0 128px;
  column-gap: 56px;
  grid-template-columns: 6fr 4fr;
}

.storiessc .storiessc__left .subtitle {
  color: var(--white);
}

.storiessc .storiessc__left .title {
  color: var(--white);
}

.storiessc .storiessc__left .--para {
  color: var(--white);
}

.sideimg {
  width: 100%;
}

.insideimg {
  width: 100%;
}

.storiessc .storiessc__right .storiessc__right-gp {
  position: relative;
}

.storiessc .storiessc__right .storiessc__right-gp .imgvideo {
  width: 100%;
}

.storiessc .storiessc__right .storiessc__right-gp .playicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  border: 2px solid #fff;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  transition: 0.2s;
  opacity: 0.6;
  filter: brightness(0) invert(1);
}

.play-btn {
  filter: brightness(0);
}

.storiessc .storiessc__right .storiessc__right-gp .playicon:hover {
  opacity: 1;
}

.storiessc .storiessc__right .storiessc__right-gp .playicon img {
  width: 30px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.aboutsc {
  padding: 72px 0;
  background: url(../assets/images/aboutbg.jpg) center;
}

.aboutsc .member {
  color: var(--white);
}

.aboutsc .aboutsc__content {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 48px;
  margin-bottom: 36px;
}

.aboutsc .aboutsc__content .title {
  color: var(--white);
}

.aboutsc .aboutsc__content .--para {
  color: var(--white);
}

.aboutsc .aboutsc__content .aboutsc__content-image {
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
  position: relative;
}

.aboutsc .aboutsc__content .aboutsc__content-image img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
}

.aboutsc .aboutsc__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}

.aboutsc .aboutsc__list .aboutsc__list-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqsc {
  padding: 56px 0;
  background: #333;
}

.footer {
  background: var(--gray);
  padding: 32px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer__left {
  height: 100%;
  width: 240px;
}

.footer .footer__left .logo img {
  filter: brightness(0) invert(1);
  width: 100%;
  height: auto;
}

.footer .container .footer__mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .container .footer__mid .footer__mid-menu:not(:last-child) {
  margin-right: 42px;
}

.footer .container .footer__mid .footer__mid-menu .item a {
  text-decoration: underline;
  list-style: none;
  color: var(--white);
  font-size: var(--font-xs);
  transition: 0.3s;
}

.footer .container .footer__mid .footer__mid-menu .item a:hover {
  opacity: 0.5;
}

.footer .container .footer__mid .footer__mid-menu .item:not(:last-child) {
  margin-bottom: 20px;
}

.footer .container .footer__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container .footer__right a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: 0.3s;
}

.footer .container .footer__right a:hover {
  background-color: #ddd;
}

.footer .container .footer__right a:not(:last-child) {
  margin-right: 24px;
}

.footer .container .footer__right i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.popupvideo {
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 900;
}

.popupvideo.active {
  opacity: 1;
  pointer-events: auto;
}

.popupvideo .popupvideo__inner {
  width: 80%;
  position: relative;
  border: 4px solid var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupvideo .popupvideo__inner .popupvideo__inner-iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.popupvideo .popupvideo__inner .popupvideo__inner-iframe iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popupvideo .btnclose {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -8px;
  cursor: pointer;
}

.gamesc {
  padding: 40px 0;
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  background-color: #777;
}

.gamesc iframe {
  width: 1080px;
  height: 720px;
}
